Repository zzxuanyuan/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Axel-Naumann, @peremato, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @gganis, @etejedor, @omazapa, @dpiparo, @TimurP, @osschar, @linev, @bluehood

Replace std:tbb to ROOT namespace
  tree/tree/inc/TTreeCacheUnzip.h
  tree/tree/src/TTreeCacheUnzip.cxx
Owners: @pcanal

Replace unzip TTaskGroup to TThreadExecutor
  tree/tree/inc/TTreeCacheUnzip.h
  tree/tree/src/TTreeCacheUnzip.cxx
Owners: @pcanal

Type casting gSystem to TUnixSystem and directly call DispatchTimers() and CheckChilds() from TUnixSystem.cxx
  core/base/inc/TSigHandling.h
  core/unix/src/TUnixSigHandling.cxx
Owners: @pcanal

Changed Author and removed type cast and includes handling kSigFloatingException
  core/base/inc/TSigHandling.h
  core/base/src/TSigHandling.cxx
  core/base/src/TSystem.cxx
  core/unix/inc/TUnixSigHandling.h
  core/unix/src/TUnixSigHandling.cxx
Owners: @pcanal

Change auxiliary functions in TUnixSigHandling to gSystem functions
  core/unix/inc/TUnixSigHandling.h
  core/unix/src/TUnixSigHandling.cxx
Owners: @pcanal

Change functions in signal handlers to be thread-safe
  core/unix/inc/TUnixSigHandling.h
  core/unix/inc/TUnixSystem.h
  core/unix/src/TUnixSigHandling.cxx
  core/unix/src/TUnixSystem.cxx
Owners: @pcanal

Created a new class TSigHandling out of TSystem and TSigHandling is dedicated to handling signals of the system
  core/base/inc/LinkDef2.h
  core/base/inc/TSigHandling.h
  core/base/inc/TSystem.h
  core/base/src/TROOT.cxx
  core/base/src/TSigHandling.cxx
  core/base/src/TSystem.cxx
  core/unix/CMakeLists.txt
  core/unix/inc/LinkDef.h
  core/unix/inc/TUnixSigHandling.h
  core/unix/inc/TUnixSystem.h
  core/unix/src/TUnixSigHandling.cxx
  core/unix/src/TUnixSystem.cxx
Owners: @pcanal, @peremato

Remove unnecessary include, forward decl
  core/base/inc/TSigHandling.h
  core/base/src/TROOT.cxx
Owners: @pcanal

Avoid code duplication.
  core/unix/src/TUnixSigHandling.cxx
  core/unix/src/TUnixSystem.cxx
Owners: @pcanal

Remove #ifdef __CINT__
  core/base/inc/TSigHandling.h
Owners: @pcanal

White space
  core/base/inc/TSigHandling.h
  core/base/src/TSigHandling.cxx
  core/unix/inc/TUnixSigHandling.h
  core/unix/src/TUnixSigHandling.cxx
  core/unix/src/TUnixSystem.cxx
Owners: @pcanal

Remove redundant code guard. Sort include.
  core/base/inc/TSigHandling.h
  core/unix/inc/TUnixSigHandling.h
Owners: @pcanal

Use proper glob supporting setter
  core/unix/CMakeLists.txt
Owners: @peremato

Update signal handling setup calls for MacOSX
  core/macosx/src/TMacOSXSystem.mm
  core/unix/src/TUnixSigHandling.cxx
Owners: @pcanal

TFdSet deduplication (now just in TUnixSystem.h)
  core/macosx/src/TMacOSXSystem.mm
Owners: @pcanal

Rename TSigHandling* to TSignalManager*
  core/base/inc/LinkDef2.h
  core/base/inc/TSignalManager.h
  core/base/src/TROOT.cxx
  core/base/src/TSignalManager.cxx
  core/base/src/TSystem.cxx
  core/unix/inc/LinkDef.h
  core/unix/inc/TUnixSignalManager.h
  core/unix/src/TUnixSignalManager.cxx
  core/unix/src/TUnixSystem.cxx
Owners: @pcanal

mac signal handler working now
  core/unix/src/TUnixSignalManager.cxx
  core/unix/src/TUnixSystem.cxx
Owners: @pcanal

macosx does not recognize pipe-related values if they were initialized after UnixSignal functions.
  core/unix/src/TUnixSignalManager.cxx
Owners: @pcanal

Keep macosx call StackTrace function.
  core/unix/src/TUnixSignalManager.cxx
Owners: @pcanal

Reverted MacOSX stacktrace to Linux implementation.
  core/unix/src/TUnixSignalManager.cxx
Owners: @pcanal

Add lldb-backtrace script for MacOSX.
  core/unix/src/TUnixSignalManager.cxx
  etc/lldb-backtrace.sh
Owners: @pcanal, @Axel-Naumann

MacOSX has to explicitly initialize static struct, otherwise the pipe file descriptors becomes -1 at some point in the program.
  core/unix/src/TUnixSignalManager.cxx
Owners: @pcanal

Use lldb thread command
  etc/lldb-backtrace.sh
Owners: @Axel-Naumann

Some simple notes on new interface design.
  tree/tree/src/TBranch.cxx
  tree/tree/src/TLeafI.cxx
Owners: @pcanal

WIP - first attempt at GetEntriesFast implementation.
  core/base/inc/TBuffer.h
  tree/tree/inc/TBranch.h
  tree/tree/inc/TLeaf.h
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Fixup.
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Add infrastructure for sharing memory in a TBuffer.
  core/base/inc/TBuffer.h
  core/base/inc/TStorage.h
  core/base/src/TBuffer.cxx
  core/base/src/TStorage.cxx
  io/io/inc/TBufferFile.h
  io/io/src/TBufferFile.cxx
  tree/tree/inc/TBranch.h
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Add several GetEntryFast implementations for integral leaves.
  tree/tree/inc/TLeafB.h
  tree/tree/inc/TLeafD.h
  tree/tree/inc/TLeafElement.h
  tree/tree/inc/TLeafF.h
  tree/tree/inc/TLeafI.h
  tree/tree/inc/TLeafL.h
  tree/tree/inc/TLeafS.h
  tree/tree/src/TLeafI.cxx
  tree/tree/src/TLeafL.cxx
  tree/tree/src/TLeafS.cxx
Owners: @pcanal

Allow two TBuffer objects to share an underlying memory buffer.
  core/base/inc/TBuffer.h
  core/base/src/TBuffer.cxx
Owners: @pcanal

Have the user buffer linked to the TBranch's buffer.
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Fix deserialization fast path for floats.
  tree/tree/inc/TLeafF.h
  tree/tree/src/TLeafF.cxx
  tree/tree/src/TLeafI.cxx
  tree/tree/src/TLeafL.cxx
  tree/tree/src/TLeafS.cxx
Owners: @pcanal

Fixup buffer sharing semantics.
  core/base/inc/TBuffer.h
  core/base/src/TBuffer.cxx
Owners: @pcanal

Have user buffer actually filled in from disk.
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Fix bulk API for doubles.
  tree/tree/inc/TLeafD.h
  tree/tree/src/TLeafD.cxx
Owners: @pcanal

Fix for trees with multiple baskets.
  tree/tree/src/TBranch.cxx
  tree/tree/src/TLeafF.cxx
Owners: @pcanal

Add support for bulk serialized IO.
  tree/tree/inc/TBranch.h
  tree/tree/inc/TLeaf.h
  tree/tree/inc/TLeafB.h
  tree/tree/inc/TLeafD.h
  tree/tree/inc/TLeafF.h
  tree/tree/inc/TLeafI.h
  tree/tree/inc/TLeafL.h
  tree/tree/inc/TLeafS.h
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Roll-up of last month's work on the fast version of the TTreeReader.
  tree/treeplayer/inc/TTreeReaderFast.h
  tree/treeplayer/inc/TTreeReaderValue.h
  tree/treeplayer/inc/TTreeReaderValueFast.h
  tree/treeplayer/src/TTreeReaderArray.cxx
  tree/treeplayer/src/TTreeReaderFast.cxx
  tree/treeplayer/src/TTreeReaderValue.cxx
  tree/treeplayer/src/TTreeReaderValueFast.cxx
Owners: @pcanal

Stripped-down, compiling version of the TTreeReaderFast.
  tree/treeplayer/inc/LinkDef.h
  tree/treeplayer/inc/TTreeReaderValueFast.h
  tree/treeplayer/src/TTreeReaderFast.cxx
  tree/treeplayer/src/TTreeReaderValueFast.cxx
Owners: @pcanal

Compile fixes for ReaderFast APIs.
  tree/treeplayer/inc/TTreeReaderValueFast.h
Owners: @pcanal

Additional plumbing for TTreeReaderFast.
  tree/tree/src/TBranch.cxx
  tree/treeplayer/inc/TTreeReader.h
  tree/treeplayer/inc/TTreeReaderFast.h
  tree/treeplayer/src/TTreeReaderFast.cxx
  tree/treeplayer/src/TTreeReaderValueFast.cxx
Owners: @pcanal

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
# 
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @Axel-Naumann
/bindings/ @peremato
/cmake/ @peremato
/core/ @Axel-Naumann
/core/ @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @Axel-Naumann
/icons/ @bellenot
/interpreter/ @Axel-Naumann
/interpreter/llvm/ @vgvassilev
/io/ @pcanal
/main/ @pcanal
/math/ @lmoneta
/misc/ @Axel-Naumann
/montecarlo/ @peremato
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta
/rootx/ @Axel-Naumann
/sql/ @pcanal
/test/ @peremato
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet

# Projects that span over several code modules:
/bindings/pyroot/ @peremato
/bindings/pyroot/JupyROOT @etejedor
/bindings/r/ @omazapa
/core/base/ @pcanal
/core/cont/ @pcanal
/core/imt/ @dpiparo
/core/lz4/ @pcanal
/core/lzma/ @pcanal
/core/multiproc/ @gganis
/core/thread/ @pcanal
/core/multiproc/ @gganis
/graf2d/qt/ @bellenot
/graf2d/cocoa/ @TimurP
/graf2d/ios/ @TimurP
/graf3d/eve/ @osschar
/net/http/ @linev
/tree/treeplayer/inc/ROOT/TDataFrame* @dpiparo @bluehood
/tree/treeplayer/src/TDF* @dpiparo @bluehood
CMakeLists.txt @peremato
