Repository zzxuanyuan/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Axel-Naumann, @peremato, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @gganis, @etejedor, @omazapa, @dpiparo, @TimurP, @osschar, @linev, @bluehood

Fixup compilation post-merge of master.
  tree/treeplayer/inc/TTreeReader.h
  tree/treeplayer/src/TTreeReaderValue.cxx
Owners: @pcanal

Minimal functional version of TTreeReaderFast.
  tree/treeplayer/inc/TTreeReaderFast.h
  tree/treeplayer/inc/TTreeReaderValueFast.h
  tree/treeplayer/src/TTreeReaderFast.cxx
  tree/treeplayer/src/TTreeReaderValueFast.cxx
Owners: @pcanal

Move fast reader work into ROOT::Experimental.
  tree/treeplayer/inc/ROOT/TTreeReaderFast.hxx
  tree/treeplayer/inc/ROOT/TTreeReaderValueFast.hxx
  tree/treeplayer/src/TTreeReaderFast.cxx
  tree/treeplayer/src/TTreeReaderValueFast.cxx
Owners: @pcanal

Add support for additional data types in FastReader.
  tree/treeplayer/inc/ROOT/TTreeReaderFast.hxx
  tree/treeplayer/inc/ROOT/TTreeReaderValueFast.hxx
  tree/treeplayer/src/TTreeReaderFast.cxx
Owners: @pcanal

Move bulk read API into experimental namespace.
  tree/tree/inc/ROOT/TBulkBranchRead.hxx
  tree/tree/inc/TBranch.h
  tree/tree/src/TBranch.cxx
  tree/treeplayer/inc/ROOT/TTreeReaderValueFast.hxx
Owners: @pcanal

Add support for TLeafElement of basic types.
  tree/tree/inc/ROOT/TBulkBranchRead.hxx
  tree/tree/inc/TBranch.h
  tree/tree/inc/TLeaf.h
  tree/tree/inc/TLeafElement.h
  tree/tree/inc/TLeafF.h
  tree/tree/src/TBranch.cxx
  tree/tree/src/TLeafElement.cxx
Owners: @pcanal

Mark integers as being able to deserialize in-place.
  tree/tree/inc/TLeafI.h
Owners: @pcanal

[TTree] Disassociate basket from memory buffer for bulk IO
  tree/tree/inc/TBasket.h
  tree/tree/inc/TBranch.h
  tree/tree/src/TBasket.cxx
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Fix unit tests for Bulk IO.
  tree/tree/src/TBranch.cxx
  tree/tree/test/BulkApi.cxx
  tree/tree/test/CMakeLists.txt
Owners: @pcanal, @peremato

Squashed commit of NumPy interface.
  bindings/pyroot/CMakeLists.txt
  bindings/pyroot/src/NumpyInterface.cxx
  bindings/pyroot/src/NumpyInterface.h
  bindings/pyroot/src/Pythonize.cxx
  bindings/pyroot/src/RootModule.cxx
Owners: @peremato

Revert TBuffer customizations for Bulk IO - weren't needed.
  core/base/inc/TBuffer.h
  core/base/inc/TStorage.h
  core/base/src/TBuffer.cxx
  core/base/src/TStorage.cxx
  io/io/inc/TBufferFile.h
  io/io/src/TBufferFile.cxx
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Fix compiler warning.
  bindings/pyroot/src/NumpyInterface.cxx
Owners: @peremato

[Bulk IO] Add unit test for TTreeReaderFast.
  tree/tree/test/BulkApi.cxx
Owners: @pcanal

Add test case for reading multiple branches from bulk AP.
  tree/tree/test/BulkApiMultiple.cxx
  tree/tree/test/CMakeLists.txt
Owners: @pcanal, @peremato

[TTree] Fix incorrect formatting of magic comment.
  tree/tree/inc/TBranch.h
Owners: @pcanal

Remove hand-written assembler for byteswapping.
  core/base/inc/Byteswap.h
Owners: @pcanal

[TTree] Fix case where there are no available baskets.
  tree/tree/src/TBranch.cxx
Owners: @pcanal

[TTree] Switch from builtin functions to ROOT-provided macros.
  tree/tree/src/TBranch.cxx
  tree/tree/src/TLeafD.cxx
  tree/tree/src/TLeafElement.cxx
  tree/tree/src/TLeafF.cxx
  tree/tree/src/TLeafI.cxx
  tree/tree/src/TLeafL.cxx
  tree/tree/src/TLeafS.cxx
  tree/tree/test/BulkApi.cxx
Owners: @pcanal

Fix test case for reading out doubles.
  tree/tree/test/BulkApiMultiple.cxx
Owners: @pcanal

Only compile numpy interface if numpy is configured by cmake.
  bindings/pyroot/CMakeLists.txt
  bindings/pyroot/src/Pythonize.cxx
  bindings/pyroot/src/RootModule.cxx
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @peremato

Only build numpy pieces when numpy was found.
  bindings/pyroot/CMakeLists.txt
Owners: @peremato

Remove misleading debug statement.
  tree/tree/test/BulkApi.cxx
Owners: @pcanal

Enable reading of C-style arrays of doubles and integers.
  tree/tree/inc/TLeafD.h
  tree/tree/inc/TLeafI.h
  tree/tree/test/BulkApiVarLength.cxx
  tree/tree/test/CMakeLists.txt
Owners: @pcanal, @peremato

Fix ODR issue due to strangeness in static constexpr in C++11.
  tree/tree/test/BulkApiVarLength.cxx
Owners: @pcanal

Revert "Only build numpy pieces when numpy was found."
  bindings/pyroot/CMakeLists.txt
Owners: @peremato

Revert "Only compile numpy interface if numpy is configured by cmake."
  bindings/pyroot/CMakeLists.txt
  bindings/pyroot/src/Pythonize.cxx
  bindings/pyroot/src/RootModule.cxx
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @peremato

Revert "Fix compiler warning."
  bindings/pyroot/src/NumpyInterface.cxx
Owners: @peremato

Revert "Squashed commit of NumPy interface."
  bindings/pyroot/CMakeLists.txt
  bindings/pyroot/src/NumpyInterface.cxx
  bindings/pyroot/src/NumpyInterface.h
  bindings/pyroot/src/Pythonize.cxx
  bindings/pyroot/src/RootModule.cxx
Owners: @peremato

Fix formatting and change files to 3-character indentation
  tree/tree/test/BulkApi.cxx
  tree/tree/test/BulkApiMultiple.cxx
  tree/tree/test/BulkApiVarLength.cxx
Owners: @pcanal

Add a simple struct to be tested with bulkapi
  tree/tree/test/SillyStruct.cxx
  tree/tree/test/SillyStruct.h
  tree/tree/test/SillyStructLinkDef.h
Owners: @pcanal

Add a new test for SillyStruct
  tree/tree/test/BulkApiSillyStruct.cxx
  tree/tree/test/CMakeLists.txt
Owners: @pcanal, @peremato

Use alias to shorter TBulkBranchRead attribute
  tree/tree/inc/TBranch.h
Owners: @pcanal

Add white spaces to comply with coding style
  tree/tree/inc/ROOT/TBulkBranchRead.hxx
  tree/tree/inc/TLeaf.h
  tree/tree/inc/TLeafD.h
  tree/tree/inc/TLeafF.h
  tree/tree/inc/TLeafI.h
  tree/tree/inc/TLeafL.h
  tree/tree/inc/TLeafS.h
  tree/tree/src/TBranch.cxx
  tree/tree/src/TLeafD.cxx
  tree/tree/src/TLeafElement.cxx
Owners: @pcanal

Some simple notes on new interface design.
  tree/tree/src/TBranch.cxx
  tree/tree/src/TLeafI.cxx
Owners: @pcanal

WIP - first attempt at GetEntriesFast implementation.
  core/base/inc/TBuffer.h
  tree/tree/inc/TBranch.h
  tree/tree/inc/TLeaf.h
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Fixup.
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Add infrastructure for sharing memory in a TBuffer.
  core/base/inc/TBuffer.h
  core/base/inc/TStorage.h
  core/base/src/TBuffer.cxx
  core/base/src/TStorage.cxx
  io/io/inc/TBufferFile.h
  io/io/src/TBufferFile.cxx
  tree/tree/inc/TBranch.h
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Add several GetEntryFast implementations for integral leaves.
  tree/tree/inc/TLeafB.h
  tree/tree/inc/TLeafD.h
  tree/tree/inc/TLeafElement.h
  tree/tree/inc/TLeafF.h
  tree/tree/inc/TLeafI.h
  tree/tree/inc/TLeafL.h
  tree/tree/inc/TLeafS.h
  tree/tree/src/TLeafI.cxx
  tree/tree/src/TLeafL.cxx
  tree/tree/src/TLeafS.cxx
Owners: @pcanal

Allow two TBuffer objects to share an underlying memory buffer.
  core/base/inc/TBuffer.h
  core/base/src/TBuffer.cxx
Owners: @pcanal

Have the user buffer linked to the TBranch's buffer.
  tree/tree/src/TBranch.cxx
Owners: @pcanal

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
# 
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @Axel-Naumann
/bindings/ @peremato
/cmake/ @peremato
/core/ @Axel-Naumann
/core/ @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @Axel-Naumann
/icons/ @bellenot
/interpreter/ @Axel-Naumann
/interpreter/llvm/ @vgvassilev
/io/ @pcanal
/main/ @pcanal
/math/ @lmoneta
/misc/ @Axel-Naumann
/montecarlo/ @peremato
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta
/rootx/ @Axel-Naumann
/sql/ @pcanal
/test/ @peremato
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet

# Projects that span over several code modules:
/bindings/pyroot/ @peremato
/bindings/pyroot/JupyROOT @etejedor
/bindings/r/ @omazapa
/core/base/ @pcanal
/core/cont/ @pcanal
/core/imt/ @dpiparo
/core/lz4/ @pcanal
/core/lzma/ @pcanal
/core/multiproc/ @gganis
/core/thread/ @pcanal
/core/multiproc/ @gganis
/graf2d/qt/ @bellenot
/graf2d/cocoa/ @TimurP
/graf2d/ios/ @TimurP
/graf3d/eve/ @osschar
/net/http/ @linev
/tree/treeplayer/inc/ROOT/TDataFrame* @dpiparo @bluehood
/tree/treeplayer/src/TDF* @dpiparo @bluehood
CMakeLists.txt @peremato
