Repository zzxuanyuan/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Axel-Naumann, @peremato, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @gganis, @etejedor, @omazapa, @dpiparo, @TimurP, @osschar, @linev, @bluehood

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
# 
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @Axel-Naumann
/bindings/ @peremato
/cmake/ @peremato
/core/ @Axel-Naumann
/core/ @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @Axel-Naumann
/icons/ @bellenot
/interpreter/ @Axel-Naumann
/interpreter/llvm/ @vgvassilev
/io/ @pcanal
/main/ @pcanal
/math/ @lmoneta
/misc/ @Axel-Naumann
/montecarlo/ @peremato
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta
/rootx/ @Axel-Naumann
/sql/ @pcanal
/test/ @peremato
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet

# Projects that span over several code modules:
/bindings/pyroot/ @peremato
/bindings/pyroot/JupyROOT @etejedor
/bindings/r/ @omazapa
/core/base/ @pcanal
/core/cont/ @pcanal
/core/imt/ @dpiparo
/core/lz4/ @pcanal
/core/lzma/ @pcanal
/core/multiproc/ @gganis
/core/thread/ @pcanal
/core/multiproc/ @gganis
/graf2d/qt/ @bellenot
/graf2d/cocoa/ @TimurP
/graf2d/ios/ @TimurP
/graf3d/eve/ @osschar
/net/http/ @linev
/tree/treeplayer/inc/ROOT/TDataFrame* @dpiparo @bluehood
/tree/treeplayer/src/TDF* @dpiparo @bluehood
CMakeLists.txt @peremato

Add a new test for SillyStruct
  tree/tree/test/BulkApiSillyStruct.cxx
  tree/tree/test/CMakeLists.txt
Owners: @pcanal, @peremato

Use alias to shorter TBulkBranchRead attribute
  tree/tree/inc/TBranch.h
Owners: @pcanal

Add white spaces to comply with coding style
  tree/tree/inc/ROOT/TBulkBranchRead.hxx
  tree/tree/inc/TLeaf.h
  tree/tree/inc/TLeafD.h
  tree/tree/inc/TLeafF.h
  tree/tree/inc/TLeafI.h
  tree/tree/inc/TLeafL.h
  tree/tree/inc/TLeafS.h
  tree/tree/src/TBranch.cxx
  tree/tree/src/TLeafD.cxx
  tree/tree/src/TLeafElement.cxx
Owners: @pcanal

Fixup CMakeLists after switch to glob.
  tree/treeplayer/CMakeLists.txt
Owners: @peremato

Fix duplicate definition due to rebase.
  tree/tree/inc/TLeaf.h
Owners: @pcanal

Only allow explicit buffer management from TBranch.
  tree/tree/inc/TBasket.h
Owners: @pcanal

Make TBuffer* move-constructible.
  core/base/inc/TBuffer.h
  io/io/inc/TBufferFile.h
  io/io/inc/TBufferIO.h
Owners: @pcanal

Init slot for each entry range.
  tree/dataframe/src/RLoopManager.cxx
Owners: @pcanal

Initial draft of the bulk API ROOT data source.
  tree/dataframe/CMakeLists.txt
  tree/dataframe/inc/ROOT/RRootBulkDS.hxx
  tree/dataframe/src/RRootBulkDS.cxx
Owners: @peremato, @pcanal

Add unit test case for bulk ROOT DS.
  tree/dataframe/test/CMakeLists.txt
  tree/dataframe/test/datasource_rootbulk.cxx
Owners: @peremato, @pcanal

Bugfixes for bulk data source.
  tree/dataframe/inc/ROOT/RRootBulkDS.hxx
  tree/dataframe/src/RRootBulkDS.cxx
Owners: @pcanal

Rearrange and expand test cases.
  tree/dataframe/test/datasource_rootbulk.cxx
Owners: @pcanal

Add simple benchmarking test case.
  tree/dataframe/test/datasource_rootbulk.cxx
Owners: @pcanal

Fix an error that an user_buffer never gets assigned to a basket.
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Bulk API should be able to read Long64_t/ULong64_t
  tree/tree/inc/TLeafL.h
Owners: @pcanal

Add test case that tests all primitives
  tree/dataframe/test/datasource_rootbulk.cxx
Owners: @pcanal

Combining testing of basket and user_buffer
  tree/tree/src/TBranch.cxx
Owners: @pcanal

Change fFourByteBuffers and fFourByteValues to pointers.
  tree/dataframe/src/RRootBulkDS.cxx
Owners: @pcanal

Bulk API should be able to read Short_t/UShort_t
  tree/tree/inc/TLeafS.h
Owners: @pcanal

Add support for 1/2/4/8-byte data types in TBufferMgr
  tree/dataframe/src/RRootBulkDS.cxx
Owners: @pcanal

Add support of bealean type for Bulk API
  tree/tree/inc/TLeafO.h
Owners: @pcanal

Add more primitives and test cases
  tree/dataframe/test/datasource_rootbulk.cxx
Owners: @pcanal

Move TLeaf's ReadBasketFast functions to TBuffer
  core/base/inc/TBuffer.h
  core/base/src/TBuffer.cxx
  tree/tree/src/TLeafD.cxx
  tree/tree/src/TLeafElement.cxx
  tree/tree/src/TLeafF.cxx
  tree/tree/src/TLeafI.cxx
  tree/tree/src/TLeafL.cxx
  tree/tree/src/TLeafS.cxx
Owners: @pcanal

Minor changes based on PR's comments
  tree/tree/test/BulkApi.cxx
Owners: @pcanal

Change loop order in SetEntry and ~TBulkBufferMgr to avoid branching Ops from if statements.
  tree/dataframe/src/RRootBulkDS.cxx
Owners: @pcanal

Implement array but hash func in unordered_map is performance killer
  tree/dataframe/src/RRootBulkDS.cxx
  tree/dataframe/test/datasource_rootbulk.cxx
Owners: @pcanal

change unordered_map to vector for mapping info
  tree/dataframe/src/RRootBulkDS.cxx
Owners: @pcanal

Add fix/variable size array test cases. But RDataSource GetColumnReaders does not support array yet.
  tree/dataframe/test/datasource_rootbulk.cxx
Owners: @pcanal
